<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
  </head>
  <body>
    hi
    <div class="flashContainer">
        {{#if error }}
            <div class="alert-danger" role="alert">
                {{error}}
            </div>
        {{/if}}
        {{#if success}}
            <div class="alert-success" role="alert">
                {{ success}}
            </div>
        {{/if}}
    </div>

  </body>
</html>
