<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- JQuery Link -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Fonts Awesome Link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Materialize Link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- CSS Style Sheet -->
    <link rel="stylesheet" href="/stylesheets/manageRoom.css">

    <title></title>
  </head>
  <body>
    <!-- NavBar Starts Here -->
    <nav>
      <div class="nav-wrapper z-depth-2">
        <a href="/home" class="brand-logo">{{user}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#if user}}
            <li><a href="/home">Home</a></li>
            <li><a href="/authorize/signout">Sign Out</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
    <!-- NavBar Ends -->

    <div class="row z-depth-2">
      <table>
        <thead>
          <tr>
            <td><input type="text" name="roomID" value="" placeholder="Room"></td>
            <td><input type="text" name="cap" value="" placeholder="Cap"></td>
            <td>
              <select name="searchRoom[id]">
                <option value="" disabled selected>Select Day</option>
                <option value="">ELEN & COEN Engineering</option>
                <option value="">INEN Engineering</option>
                <option value="">MECN Engineering</option>
                <option value="">Informatic</option>
              </select>
            </td>
            <td>Button</td>
          </tr>

          <tr>
            <td></td>
            <td>Room</td>
            <td>Capacity</td>
            <td>Department</td>
          </tr>

        </thead>

        <tbody>
          <tr>
            <td><button type="button" name="button" class="btn waves-effect waves-light z-depth-2 "><i class="fas fa-trash-alt"></i></button></td>
            <td>roomID</td>
            <td>cap</td>
            <td>dept</td>
          </tr>
        </tbody>
      </table>
    </div>

  </body>
</html>
