#uno {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url(https://yt3.ggpht.com/a-/AN66SAw6n5ThiDDTRs-mZiVjY_aXfQUjP0thuVXENQ=s900-mo-c-c0xffffffff-rj-k-no);
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 50%;
 }


 @media only screen and (min-width: 600px) {
   #uno {
     width: 70%;
     height: 400px;
   }
 }

 #button {
   background: white;
   border-style: none;
 }


.nav-wrapper {
  background: rgb(0,177,32);
  background: radial-gradient(circle, rgba(0,177,32,1) 86%, rgba(195,191,34,1) 100%);
}

#profName {
  margin-bottom: 0.5em;
}

#ini {
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.9em;
}

.profInfo {
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  border-radius: 5%;
  margin: 5% 5%;
}

#box {
  background-color: rgba(62, 62, 62, 0.2);
  border-radius: 6%;
  width: 29%;
  margin: 2% 2% 2% 0%;
}
.containerR{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


body {
  background-color: white;
}
