<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../public/stylesheets/index.css">
  <link href="https://fonts.googleapis.com/css?family=Krub:400,700" rel="stylesheet">
  <title>Reservation</title>
</head>
<body>

<div class="boxMaster">

  <div class="reservation-box tableInfo">
    <div class="info-box">

      <div class="img-box" style="background-image: url('../public/imgs/reservation.jpg')"></div>

      <div class="textStyle">
        <h1>Make a Reservation!</h1>
      </div>
    </div>
  </div>

  <div class="appointment-box tableInfo">
    <div class="info-box">

      <div class="img-box" style="background-image: url('../public/imgs/teacherApp.png')"></div>

      <div class="textStyle">
        <h1>Make an appointment!</h1>
      </div>

    </div>
  </div>

</div>

</body>
</html>
