<div class="jumbotron">
  <h1>Node Graph Tutorial</h1>
  <p class="lead">This sample app shows how to use the Microsoft Graph API to access Outlook data from Node.js</p>
  {{#if user}}
    <p>Welcome {{user}}!</p>
  {{else}}
    <a class="btn btn-primary btn-large" href="{{signInUrl}}">Click here to login</a>
  {{/if}}
</div>
<div>

  <!-- <h1>AQUI EMPIEZO</h1>
  <ul class="people_list">
    {{#each results}}
      <li>{{this.email}}</li>
    {{/each}}
  </ul>
   -->
</div>
