<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> </title>

  <!-- <link rel="shortcut icon" type="image/png" href="/imgs/interb.jpg">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link href="https://fonts.googleapis.com/css?family=Krub:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/InterHubStyle.css"> -->

    <div class="row">

        <!-- Reservation Box Start -->
        <div id = "hub2" class="col s6">
          <div class="shape res">
          </div>
          <div class="butt">
            <a href="{{urlProfRev}}" class="info waves-effect waves-light btn-large">Make a Room Reservation</a>
          </div>
        </div>

        <!-- Reservation Box End -->

        <!-- Professor Appointment Box Start -->
        <div id = "hub2"class="col s6">
          <div class="shape prof">
          </div>
          <div class="butt">
            <a href="{{urlProfApp}}" class="info waves-effect waves-light btn-large">View Your Appointments</a>
          </div>
        </div>
        <!-- Professor Appointment Box End -->

      </div>

  </body>
</html>
