<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <title>Inter Reservation</title>
</head>
<body>

<div id="box-login">
  <div id="box-login-welcome">
    <span id="welcome-text">Welcome!</span>
    <p>Here you can make room reservations in a simple and fast way!</p>

    <div class="link-button-box">
      <a id="Login-link" href="{{signInUrl}}">Click here to Login!</a>
    </div>

  </div>
</div>

</body>
</html>
