#uno {
  border-style: solid;
  border-color: black;
  border-width: medium;
  height: 300px;
  padding: 40px 5px 60px 5px;
  margin: 0px 0px 0px 0px;

  text-align: center;
 }
/* .circle {

    background: green;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}  */

/* #pos{
  position: fixed;
  text-align: center;
} */
.nav-wrapper{
  background-color: green;
}
/* #ini{
  background-color: green;
  line-height: 1.6em;
  width: 1.6em;
  border-radius: .8em;

} */
 #ini {
  background: green;
  /* border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: black;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;*/
}
