<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Things I've Learned</title>
  </head>
  <body>
    <h1>Thing's I've Learned</h1>

    <h2><b>Internet Basics</b></h2>

    <ol>
      <li>HTTP Requests</li>
      <li>IP Adress</li>
      <li>Servers</li>
    </ol>

    <h2>HTML</h2>

      <ul>
      <li>Stands for <b>Hyper Text Markup Language</b></li>
      <li>Lots of tags</li>
        <ul>

        <li>Boilerplate</li>

          <ol>
            <li>Doctype</li>
            <li>HTML</li>
            <li>Head</li>
            <ol>
              <li>Title</li>
            </ol>
            <li>Body</li>
          </ol>
        <li>Headings</li>
        <li>Paragraph</li>
        <li><em>em</em></li>
        <li><strong>strong</strong>5</li>
      </ul>
    </ul>


  </body>
</html>
