
  <!-- First Row Begins -->
  <div class="row">
    <!-- First Box Start-->
    <div class="box0">
      <div id="box" class="col s3">
        <div id="uno" >
          <h3 id="ini"><a href="/home/appointment/professor">{{initial}}</a></h3>
        </div>
        <div class="2box">
          <p>{{professorName}}</p>
          <a>{{professorEmail}}</a>
          <p>{{Department}}</p>
        </div>
      </div>
    </div>
