.nav-wrapper{
    background: radial-gradient(circle, rgba(0,177,32,1) 86%, rgba(195,191,34,1) 100%);
}

.s4{
border: 2px black solid;
height: 580px;
}

.button{
  margin-left: 110px;
  margin-top: 500px;
}

.circle{
  border: 2px black solid;
  border-radius:50%;
  height:100px;
  width: 100px;
}
