
body {
  height: 1080px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.6615021008403361) 62%, rgba(255,250,0,1) 100%);
  overflow: hidden;
}

.info-box {
  border-radius: 8px;
  text-align: center;
  height: 600px;
  width: 550px;
  padding-top: 15px;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}

.info-box a{
  font-style: none;
  color: white;
  text-decoration: none;
  font-size: 2.0em;
  padding: 10px 20px;
  background-color: rgb(64, 64, 73);
  border-radius: 8px;
}

.img-box{
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background-size: cover;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.info-box a:hover{
  background-color: rgba(64, 64, 73, 0.5);
}

.brand-logo {
  margin-left: 10px;
}

.nav-wrapper {
  background: rgb(0,177,32);
  background: radial-gradient(circle, rgba(0,177,32,1) 86%, rgba(195,191,34,1) 100%);
}

nav li a {
  font-size: 1.5em;
}

#table-box{
  margin-top: 25px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
#formBox{
  width: 60%;
  margin-left: -5%;
}

#selectBox{
  margin-left: 20%;
  width: 25%;
  display: inline-block;
  border-bottom: 1px solid rgba(80, 83, 89, 0.5);
}

#selectBox select option{
  color: white;
}

.dateBox{
  margin-left: 10%;
  display: inline-block;
  width: 25%;
  border-bottom: 1px solid rgba(80, 83, 89, 0.5);
}

tr th{
  text-align: center;
}

.cell100{
  width: 20%;
}

tr td{
  text-align: center;
}

.sub{
  width: 10%;
  margin-left: 5%;
}

.sub2{
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -90px;
  margin-bottom: 100px;
}
#time{
  color: white;
}

.select-wrapper input.select-dropdown{
  color:#808080;
  font-size: 15px;
  line-height: 1.4
}

/*--------------- MENSAJE FLASH -------------------------*/
.flashContainer{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  text-align: center;
  font-size: 2.0em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.alert-danger{
  background-color: rgba(255, 0, 0, 0.5);
  padding: 10px;
}

.alert-success{
  padding: 10px;
  background-color: rgba(76, 186, 44, 0.4);
}
