*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Krub', sans-serif;
}

#R_boxMaster{
  width: 100%;
}

.reservation-box{
  padding: 20px;
  border: 1px solid blue;
  display: inline-block;
}
.appointment-box{
  padding: 20px;
  float: right;
  display: inline-block;
}

.tableInfo{
  box-shadow: 5px 10px 8px 10px rgb(189, 188, 252);
  margin-top: 25px;
  width: 40%;
  height: 500px;
}

.info-box{
  text-align: center;
  width: 100%;
}
.info-box a{
  font-style: none;
  color: white;
  text-decoration: none;
  font-size: 2.0em;
  padding: 10px 20px;
  background-color: rgb(64, 64, 73);
  border-radius: 8px;
}

.img-box{
  border-radius: 50%;
  width: 350px;
  height: 350px;
  background-size: cover;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.info-box a:hover{
  background-color: rgba(64, 64, 73, 0.5);
}

.nav-wrapper{
  padding: 0 10px;
  background-color:rgb(98, 138, 142);
}

#table-box{
  margin-top: 25px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
#formBox{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#selectBox{
  width: 25%;
  display: inline-block;
  border-bottom: 1px solid rgba(80, 83, 89, 0.5);
}
#selectBox select option{
  color: white;
}

.dateBox{
  margin-left: 40%;
  display: inline-block;
  width: 25%;
  border-bottom: 1px solid rgba(80, 83, 89, 0.5);
}
tr th{
  text-align: center;
}
.cell100{
  width: 20%;
}
tr td{
  text-align: center;
}
