*{
  margin: 0;
  padding: 0;
}

body {
  background:url("../imgs/interb.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#box-login{
  width: 100%;
  text-align: center;
  margin-top: 200px;
}

#welcome-text{
  font-size: 3.5em;
  font-weight: bold;
}
#box-login-welcome{
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  padding: 2%;
  border: 3px solid rgba(27, 29, 46, 0.5);
  background-color: rgba(207, 196, 206, 0.7);
}
#box-login-welcome p {
  font-size: 2.5em;
}

.link-button-box{
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1.5%;
  width: 40%;
  font-size: 1.5em;
  font-weight: bold;
  background-color: black;
  border-radius: 1.2em;
}
.link-button-box:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
#Login-link{
  color: white;
}

@media only screen and (max-width: 600px) {
  
  .link-button-box{
    width: 80%;
  }

  #box-login-welcome{
    width: 80%;
  }
}
