.row {
  font-size: 1.5em;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 2.5%;
}
.nav-wrapper {
  background: rgb(0,177,32);
  background: radial-gradient(circle, rgba(0,177,32,1) 86%, rgba(195,191,34,1) 100%);
}

nav li a {
  font-size: 1.5em;
}

.brand-logo {
  margin-left: 10px;
}

.btn {
  background-color: red;
}
