#uno {
  /* border-style: solid;
  border-color: black; */
  /* border-width: medium; */

  padding: 24% 5px 60px 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* background: yellow; */
  background-image: url(https://yt3.ggpht.com/a-/AN66SAw6n5ThiDDTRs-mZiVjY_aXfQUjP0thuVXENQ=s900-mo-c-c0xffffffff-rj-k-no);
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  /* color: black; */
 }

.nav-wrapper{
  background: rgb(0,177,32);
  background: radial-gradient(circle, rgba(0,177,32,1) 86%, rgba(195,191,34,1) 100%);
}

#ini {
  /* background: green;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  color: black; */
  font-size: 22px;
  margin: auto;
}
.box0{
  width: 80%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
#box {
  width: 24%;
  /* border-style: solid; */
  /* background-color: rgba(121, 250, 6, 0.65); */
  background-color: rgba(62, 62, 62, 0.2);
  /* border-color: black; */

  /* border-radius: 20%; */
  margin-left: 5px;
  margin-right: 5px;
  height: 300px;
  text-align: center;
  padding: 10px 5px 5px 5px;
}
body{
  background-color: white;
}
