#uno {
  padding: 24% 5px 60px 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url(https://yt3.ggpht.com/a-/AN66SAw6n5ThiDDTRs-mZiVjY_aXfQUjP0thuVXENQ=s900-mo-c-c0xffffffff-rj-k-no);
  background-size: cover;
  height: 19em;
  width: 19em;
  border-radius: 50%;
 }

 #button {
   background: white;
   border-style: none;
 }

.row {
  padding-left: 12em;
  padding-right: 12em;
  align-content: center;
}

.nav-wrapper {
  background: rgb(0,177,32);
  background: radial-gradient(circle, rgba(0,177,32,1) 86%, rgba(195,191,34,1) 100%);
}

#profName {
  margin-bottom: 0.5em;
}

#ini {
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
}

.profInfo {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: white;
  border-radius: 25px;
}

#box {
  width: 24%;
  background-color: rgba(62, 62, 62, 0.2);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20%;
  height: 40%;
  text-align: center;
  padding: 10px 5px 5px 5px;
  border-radius: 25px;

}


body {
  background-color: white;
}
