.nav-wrapper {
  background-color: rgb(0,177,32);
  background: radial-gradient(circle, rgba(0,177,32,1) 86%, rgba(195,191,34,1) 100%);
}

.s3 {
  background-color: rgba(0, 0, 0, 0.1);
  height: 900px;
  overflow-y: scroll;
  width: 200px
}

.date{
  float: left;
  margin-left: 2%;
}

.row {
  margin-top: 0.5%;

}

.btn, .btn-large, .btn-small {
  background-color: rgb(6, 161, 23);
}

.button2 {
  float: right;
}

.button3 {
  float:right;
  margin-right: 0.5%;
  margin-top: 0.5%;
}

.s9 {
  background-color: rgba(0, 0, 0, 0.1);
  height: 900px;
  overflow-y: scroll;
}

.pend {
 text-align: center;
}

em {
  font-size: 1.5em;
  color: red;
}

.button {
  float: right;
  margin-left: 1%;
  background-color: red;
}
.changeWidthBox{
  width: 100%;
}

.changeWidth{
  width: 30%;
}

#infoUser th{
  width: 14%;
}
